* {
    background: linear-gradient(135deg, #0A3871, #f5fcf3); 
    font-family: "Inter", sans-serif; 
    font-weight: 400; 
    font-size: 32px;
    line-height: 150%;
    font-style: normal; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

main {
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
    gap: 20px; 
}

section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background: linear-gradient(135deg, #ffffff, #e6f2ff); 
    border-radius: 24px; 
    padding: 20px; 
    box-shadow: 0px24px32px -8pxrgba(0, 0, 0, 0.08); 
    width: 45%; 
}

.text_area,
.mensaje {
    border: none; 
    color: #0A3871; 
    background: linear-gradient(135deg, #ffffff, #f5f5f5); 
    border-radius: 24px; 
    padding: 20px; 
    width: 100%; 
    box-shadow: 0px24px32px -8pxrgba(0, 0, 0, 0.08); 
    resize: none; 
}

.text_area {
    text-transform: lowercase; 
    margin-bottom: 20px; 
    height: 400px; 
}

.mensaje {
    background-image: url(imagenes/Muñeco.png); 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position-x: center; 
    height: 380px; 
    margin-bottom: 20px; 
}

.h_6 {
    background: none;
    font-size: 24px;
    color: #495057;
}

::placeholder {
    color: #000000; 
}

.text_area:focus,
.mensaje:focus {
    outline: none; 
}

.informacion {
    color: #495057; 
    background: none;
    font-size: 14px; 
    margin-bottom: 20px; 
    text-align: center; 
}

.botones {
    background: none; 
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    margin-bottom: 8px;
}

.btn_encriptar,
.btn_desencriptar {
    border-radius: 24px; 
    cursor: pointer; 
    height: 67px; 
    width: 48%; 
}

.btn_encriptar {
    background: linear-gradient(135deg, #0A3871, #0a2d5f); 
    border: 1px solid #0A3871; 
    color: #ffffff; 
}

.btn_desencriptar {
    background: linear-gradient(135deg, #ffffff, #e6f2ff); 
    border: 1px solid #0A3871; 
    color: #0A3871; 
}

.btn_copiar {
    border-radius: 14px; 
    border: 1px solid #0A3871; 
    color: #0A3871; 
    height: 67px;
    width: 220px; 
    background: linear-gradient(135deg, #ffffff, #f5f5f5); 
    margin-top: 28px;
}

@media (max-width: 1200px) {
    .text_area,
    .mensaje {
        height: 200px; 
    }

    .btn_encriptar,
    .btn_desencriptar {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .btn_copiar {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column; 
        align-items: center; 
    }

    section {
        width: 100%; 
    }

    .text_area,
    .mensaje {
        height: 150px; 
    }
}

@media (max-width: 480px) {
    .text_area,
    .mensaje {
        font-size: 24px; 
        padding: 10px; 
    }

    .informacion {
        font-size: 12px; 
    }

    .btn_encriptar,
    .btn_desencriptar,
    .btn_copiar {
        height: 50px; 
    }
}